&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		width = <96>;
		height = <39>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <38>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

/ {
	chosen {
		zephyr,display = &ssd1306;
	};
};
